<li>
  <h4 class="tasktitle"><%= task.title %></h4>
  <% if task.deadline %>
  	
  ,"Deadline : " <%=  task.deadline.strftime("%D")  %><br>
  
  <% end %>
  
  <%= link_to "Edit this task", edit_task_path(task) %>
</li>